@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

:root {
	--primary-margin: 2rem;
	--primary-color: #c0eae5;
	--secondary-color: #c5f0eb;
	--primary: #ffe3df;
	--secondary: #ffcdc6;
	--tertiary: #ff9d9d;
	--text: #fff;
}

html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--primary);
	color: var(--text);
	font-family: "Inter", sans-serif;
}
.navbar-container {
	display: grid;
	width: calc(100% - (var(--primary-margin)) - (var(--primary-margin)));
	grid-template-columns: 2rem 2fr 1fr 2fr 2rem;
	height: 70px;
	border-radius: 15px;
	position: fixed;
	z-index: 100000;
	border: 2px solid var(--secondary);
	margin-top: 20px;
	margin-right: var(--primary-margin);
	margin-left: var(--primary-margin);
	border: 2px solid black;
	background-color: var(--secondary);
	color: var(--text);
	align-items: center;
	transition: 0.5s all ease-in-out;
}
.navbar-text {
	color: var(--primary-color);
	transition: 0.5s all ease-in-out;
}
.navbar-text.scrolled {
	color: var(--secondary);
	transition: 0.5s all ease-in-out;
}
.navbar-container.scrolled {
	display: grid;
	width: calc(100% - (var(--primary-margin)) - (var(--primary-margin)));
	grid-template-columns: 2rem 2fr 1fr 2fr 2rem;
	height: 70px;
	border: 2px solid black;
	z-index: 100000;
	border-radius: 15px;
	position: fixed;
	margin-top: 20px;
	margin-right: var(--primary-margin);
	margin-left: var(--primary-margin);
	background-color: var(--secondary-color);
	color: var(--text);
	align-items: center;
	transition: 0.5s all ease-in-out;
}
.navbar-left {
	grid-column-start: 2;
	grid-column-end: 3;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.navbar-middle {
	grid-column-start: 3;
	grid-column-end: 4;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.navbar-right {
	grid-column-start: 4;
	grid-column-end: 5;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
.navbar-name {
	font-size: 24px;
	font-weight: bold;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.5s all ease;
}
.navbar-name.scrolled {
	font-size: 24px;
	font-weight: bold;
	height: 50px;
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.5s all ease-in-out;
}
.navbar-name:hover {
	opacity: 0.6;
}
.navbar-name.scrolled:hover {
	opacity: 0.6;
}
.navbar-btn-active {
	background-color: #222;
	margin-right: 25px;
	height: 40px;
	margin-top: 12.5px;
	margin-bottom: 12.5px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 7.5px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
	border-radius: 15px;
	transition: 0.5s all ease-in-out;
}
.navbar-btn-disabled {
	margin-right: 25px;
	height: 40px;
	margin-top: 12.5px;
	margin-bottom: 12.5px;
	padding: 0 7.5px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
	border-radius: 15px;
	transition: 0.5s all ease-in-out;
}
.navbar-btn-primary {
	background-color: var(--primary-color);
	border: 2px solid black;
	height: 40px;
	margin-top: 12.5px;
	margin-bottom: 12.5px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 7.5px;
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
	border-radius: 15px;
	transition: 0.5s all ease-in-out;
}
.navbar-btn-primary.scrolled {
	background-color: var(--primary);
	height: 40px;
	border: 2px solid black;
	margin-top: 12.5px;
	margin-bottom: 12.5px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 7.5px;
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
	border-radius: 15px;
	transition: 0.5s all ease-in-out;
}
.navbar-btn-disabled:hover {
	opacity: 0.6;
}
.navbar-btn-active:hover {
	transform: scale(1.1);
}
.navbar-btn-primary:hover {
	transform: scale(1.1);
}
.navbar-btn-primary.scrolled:hover {
	transform: scale(1.1);
}
.navbar-mobile {
	display: none;
}
.navbar-left-uwu {
	margin-right: 5rem;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
.home-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: fit-content;
}
.home-home-container {
	display: flex;
	border: 2px solid black;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary);
	border-radius: 15px;
	height: 70vh;
	margin-bottom: 50px;
	width: calc(100% - (var(--primary-margin)) - (var(--primary-margin)));
}
.home-home-subcontainer {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.home-home-btns {
	margin-top: 30px;
	width: fit-content;
}
.home-home-btn-primary {
	padding: 12.5px 20px;
	margin-right: 20px;
	border: 2px solid black;
	width: 200px;
	background-color: var(--primary-color);
	color: black;
	border-radius: 5px;
	font-family: "Inter";
	font-weight: bold;
	cursor: pointer;
	transition: 0.5s all ease-in-out;
}
.home-home-btn-secondary {
	padding: 12.5px 20px;
	width: 200px;
	border: 2px solid black;
	background-color: var(--primary);
	color: black;
	border-radius: 5px;
	font-family: "Inter";
	font-weight: bold;
	cursor: pointer;
	transition: 0.5s all ease-in-out;
}
.home-home-btn-primary:hover {
	transform: scale(1.1);
}
.home-home-btn-secondary:hover {
	transform: scale(1.1);
}
.home-home-heading {
	margin: 0;
	color: #f9f9f9;
	font-size: 64px;
}
.home-featured-products-container {
	display: flex;
	border: 2px solid black;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary);
	border-radius: 15px;
	height: fit-content;
	padding: 60px 0;
	margin-bottom: 50px;
	width: calc(100% - (var(--primary-margin)) - (var(--primary-margin)));
}
.hover-text {
	transition: 0.5s all ease-in-out;
	cursor: pointer;
}
.hover-text:hover {
	padding-bottom: 3px;
}
.home-featured-products-products-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 30px;
	width: calc(100% - 10rem);
}
.product {
	width: 275px;
	height: fit-content;
	padding-top: 27.5px;
	padding-bottom: 27.5px;
	background-color: var(--secondary-color);
	border: 2px solid black;
	border-radius: 15px;
	transition: 0.5s all ease-in-out;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 15px;
}
.product:hover {
	transform: scale(1.1);
}
.product-img {
	border-radius: 15px;
	margin-right: calc(10% - 1.5px);
	margin-left: calc(10% - 1.5px);
	border: 3px solid black;
	width: 80%;
	height: 200px;
}
@media (max-width: 768px) {
	.navbar-left, .navbar-right, .navbar-middle {
		display: none;
	}
	.navbar-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.navbar-container.scrolled {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.navbar-mobile {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
	}
	.navbar-ic {
		height: 40px;
		margin-top: 10px;
		margin-bottom: 10px;
		border: 2px solid black;
		background-color: var(--tertiary);
		border-radius: 15px;
		width: 40px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		transition: 0.5s all ease-in-out;
		cursor: pointer;
	}
	.navbar-ic:hover {
		transform: scale(1.1);
	}
	.home-home-btn-primary {
		width: calc(100% - 30px);
		margin: 0;
	}
	.home-home-btn-secondary {
		width: calc(100% - 30px);
		margin: 15px 0;
	}
	.home-home-container {
		height: fit-content;
		padding: 60px 0;
	}
	.home-home-btns {
		flex-direction: column;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.home-home-heading {
		font-size: 32px;
	}
	.home-home-featured-products-container {
		text-align: center;
	}
	.product {
		width: calc(100% - 30px);
	}
	.home-featured-products-products-container {
		width: 100%;
	}
	.footer-text {
		font-size: 12px;
	}
}